<a href="https://colab.research.google.com/github/pouniq/adult-income/blob/main/adult_income_(classification_problem).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pipeline ML
1. collect data
2. data interpretation
3. train test split
4. preprocessing
  - scale
  - handle Nan values
  - outliers
  - handle categorical values
5. training the data

import packages :

In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import f1_score , accuracy_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder

reading and loading the dataset

In [3]:
train_df = pd.read_csv("https://raw.githubusercontent.com/pouniq/adult-income/main/adult/adult.data" , header = None)
test_df = pd.read_csv("https://raw.githubusercontent.com/pouniq/adult-income/main/adult/adult.test" , skiprows=1 , header = None)

insight into training data

In [4]:
train_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [5]:
train_df.shape

(32561, 15)

In [6]:
train_df.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], dtype='int64')

In [7]:
train_df.info()
# we dont have any NAN value in training dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       32561 non-null  int64
 1   1       32561 non-null  object
 2   2       32561 non-null  int64
 3   3       32561 non-null  object
 4   4       32561 non-null  int64
 5   5       32561 non-null  object
 6   6       32561 non-null  object
 7   7       32561 non-null  object
 8   8       32561 non-null  object
 9   9       32561 non-null  object
 10  10      32561 non-null  int64
 11  11      32561 non-null  int64
 12  12      32561 non-null  int64
 13  13      32561 non-null  object
 14  14      32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [8]:
train_df.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

### naming the dataset columns


*   age: the age of the individual in years,
* capital_gain: capital gain in the previous year,
* capital_loss: capital loss in the previous year,
* education: highest level of education achieved by the individual,
* education-num: a numeric form of the highest level of education achieved,
* fnlwgt: an estimate of the number of individuals in the population with the same demographics as this individual,
* hours_per_week: hours worked per week,
* marital_status: the marital status of the individual,
* native_country: the native country of the individual,
* occupation: the occupation of the individual,
* race: the individual's race,
* relationship: the individual's relationship status,
* sex: the individual's sex,
* workclass: the industry / sector that the individual works in.
`

In [9]:
cols = ["age", "capital_gain", "capital_loss","education","education-num","fnlwgt",
       "hours_per_week","marital_status","native_country","occupation","race","relationship","sex","workclass","50K"]

train_df.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], dtype='int64')

In [10]:
#train dataset
newcols = dict(zip(train_df.columns , cols))
train_df = train_df.rename(columns = newcols)
newcols

{0: 'age',
 1: 'capital_gain',
 2: 'capital_loss',
 3: 'education',
 4: 'education-num',
 5: 'fnlwgt',
 6: 'hours_per_week',
 7: 'marital_status',
 8: 'native_country',
 9: 'occupation',
 10: 'race',
 11: 'relationship',
 12: 'sex',
 13: 'workclass',
 14: '50K'}

In [11]:
#test dataset
newcols_t = dict(zip(train_df.columns , cols))
test_df = test_df.rename(columns = newcols)
newcols_t

{'age': 'age',
 'capital_gain': 'capital_gain',
 'capital_loss': 'capital_loss',
 'education': 'education',
 'education-num': 'education-num',
 'fnlwgt': 'fnlwgt',
 'hours_per_week': 'hours_per_week',
 'marital_status': 'marital_status',
 'native_country': 'native_country',
 'occupation': 'occupation',
 'race': 'race',
 'relationship': 'relationship',
 'sex': 'sex',
 'workclass': 'workclass',
 '50K': '50K'}

In [12]:
train_df

,age,capital_gain,capital_loss,education,education-num,fnlwgt,hours_per_week,marital_status,native_country,occupation,race,relationship,sex,workclass,50K
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [13]:
test_df

,age,capital_gain,capital_loss,education,education-num,fnlwgt,hours_per_week,marital_status,native_country,occupation,race,relationship,sex,workclass,50K
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16276,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.
16277,64,?,321403,HS-grad,9,Widowed,?,Other-relative,Black,Male,0,0,40,United-States,<=50K.
16278,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K.
16279,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K.
16280,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.

In [14]:
 test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16281 entries, 0 to 16280
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             16281 non-null  int64
 1   capital_gain    16281 non-null  object
 2   capital_loss    16281 non-null  int64
 3   education       16281 non-null  object
 4   education-num   16281 non-null  int64
 5   fnlwgt          16281 non-null  object
 6   hours_per_week  16281 non-null  object
 7   marital_status  16281 non-null  object
 8   native_country  16281 non-null  object
 9   occupation      16281 non-null  object
 10  race            16281 non-null  int64
 11  relationship    16281 non-null  int64
 12  sex             16281 non-null  int64
 13  workclass       16281 non-null  object
 14  50K             16281 non-null  object
dtypes: int64(6), object(9)
memory usage: 1.9+ MB

train test split

categroical to numerical in training dataset

In [15]:
enc = LabelEncoder()
train_df["capital_gain"] = enc.fit_transform(train_df["capital_gain"])
train_df["education"] = enc.fit_transform(train_df["education"])
train_df["fnlwgt"] = enc.fit_transform(train_df["fnlwgt"])
train_df["hours_per_week"] = enc.fit_transform(train_df["hours_per_week"])
train_df["marital_status"] = enc.fit_transform(train_df["marital_status"])
train_df["native_country"] = enc.fit_transform(train_df["native_country"])
train_df["occupation"] = enc.fit_transform(train_df["occupation"])
train_df["workclass"] = enc.fit_transform(train_df["workclass"])

categroical to numerical in testing dataset

In [16]:
test_df["capital_gain"] = enc.fit_transform(test_df["capital_gain"])
test_df["education"] = enc.fit_transform(test_df["education"])
test_df["fnlwgt"] = enc.fit_transform(test_df["fnlwgt"])
test_df["hours_per_week"] = enc.fit_transform(test_df["hours_per_week"])
test_df["marital_status"] = enc.fit_transform(test_df["marital_status"])
test_df["native_country"] = enc.fit_transform(test_df["native_country"])
test_df["occupation"] = enc.fit_transform(test_df["occupation"])
test_df["workclass"] = enc.fit_transform(test_df["workclass"])

In [17]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16281 entries, 0 to 16280
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             16281 non-null  int64
 1   capital_gain    16281 non-null  int64
 2   capital_loss    16281 non-null  int64
 3   education       16281 non-null  int64
 4   education-num   16281 non-null  int64
 5   fnlwgt          16281 non-null  int64
 6   hours_per_week  16281 non-null  int64
 7   marital_status  16281 non-null  int64
 8   native_country  16281 non-null  int64
 9   occupation      16281 non-null  int64
 10  race            16281 non-null  int64
 11  relationship    16281 non-null  int64
 12  sex             16281 non-null  int64
 13  workclass       16281 non-null  int64
 14  50K             16281 non-null  object
dtypes: int64(14), object(1)
memory usage: 1.9+ MB

In [18]:
x_train = train_df.iloc[: , :-1]
y_train = train_df.iloc[: , -1]
x_test = test_df.iloc[: , :-1]
y_test = test_df.iloc[: , -1]

In [19]:
y_test

0         <=50K.
1         <=50K.
2          >50K.
3          >50K.
4         <=50K.
          ...
16276     <=50K.
16277     <=50K.
16278     <=50K.
16279     <=50K.
16280      >50K.
Name: 50K, Length: 16281, dtype: object

preprocessing

In [20]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   capital_gain    32561 non-null  int64
 2   capital_loss    32561 non-null  int64
 3   education       32561 non-null  int64
 4   education-num   32561 non-null  int64
 5   fnlwgt          32561 non-null  int64
 6   hours_per_week  32561 non-null  int64
 7   marital_status  32561 non-null  int64
 8   native_country  32561 non-null  int64
 9   occupation      32561 non-null  int64
 10  race            32561 non-null  int64
 11  relationship    32561 non-null  int64
 12  sex             32561 non-null  int64
 13  workclass       32561 non-null  int64
 14  50K             32561 non-null  object
dtypes: int64(14), object(1)
memory usage: 3.7+ MB

training the data

In [21]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   capital_gain    32561 non-null  int64
 2   capital_loss    32561 non-null  int64
 3   education       32561 non-null  int64
 4   education-num   32561 non-null  int64
 5   fnlwgt          32561 non-null  int64
 6   hours_per_week  32561 non-null  int64
 7   marital_status  32561 non-null  int64
 8   native_country  32561 non-null  int64
 9   occupation      32561 non-null  int64
 10  race            32561 non-null  int64
 11  relationship    32561 non-null  int64
 12  sex             32561 non-null  int64
 13  workclass       32561 non-null  int64
 14  50K             32561 non-null  object
dtypes: int64(14), object(1)
memory usage: 3.7+ MB

In [22]:
RF = RandomForestClassifier()

In [23]:
RF.fit(x_train , y_train)

RandomForestClassifier()

In [24]:
y_pred = RF.predict(x_test)

In [25]:
print(f1_score(y_test , y_pred , average="micro" ))

0.0

in the test and train dataset each row end with a dot and the other one doesn't so we should take care of that dot.

In [27]:
y_test = [label.rstrip('.') for label in y_test]

In [32]:
# evaluate LR
acc_lr = print(f1_score(y_test , y_pred , average="micro" ))
fscr_lr = print(accuracy_score(y_test , y_pred ))

0.8538173330876482
0.8538173330876482

In [34]:
svc =  SVC()

In [35]:
svc.fit(x_train , y_train)

SVC()

In [37]:
y_pred = svc.predict(x_test)

In [42]:
svf1 = print(f1_score(y_test , y_pred , average = "micro"))
svacc = print(accuracy_score(y_test , y_pred ))

0.7990295436398255
0.7990295436398256

In [44]:
 #KNN classifier
 knn = KNeighborsClassifier()

In [45]:
knn.fit(x_train , y_train)

KNeighborsClassifier()

In [46]:
knn.predict(x_test)

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' >50K', ' <=50K'],
      dtype=object)

In [47]:
knnf1 = print(f1_score(y_test , y_pred , average = "micro"))
knnacc = print(accuracy_score(y_test , y_pred ))

0.7990295436398255
0.7990295436398256